@font-face {
    font-family: 'Retro Cute';
    src: url('../fonts/04B_30__.TTF') format('truetype'),
         url('../fonts/04B_30__.WOFF') format('woff'),
         url('../fonts/04B_30__.WOFF2') format('woff2');
}

@font-face {
    font-family: 'Dogica Pixel';
    src: url('../fonts/dogicapixel.TTF') format('truetype'),
        url('../fonts/dogicapixel.WOFF') format('woff'),
        url('../fonts/dogicapixel.WOFF2') format('woff2');
}

@font-face {
    font-family: 'Dogica Pixel Bold';
    src: url('../fonts/dogicapixelbold.TTF') format('truetype'),
        url('../fonts/dogicapixelbold.WOFF') format('woff'),
        url('../fonts/dogicapixelbold.WOFF2') format('woff2');
}

body {
    background-color: PowderBlue;
}

h1 {
    font-family: 'Retro Cute', sans-serif;
}

p {
    font-family: 'Dogica Pixel', sans-serif;
}

p b {
    font-family: 'Dogica Pixel Bold', sans-serif;
}